modules = ["python-3.12", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "vm"
run = ["bash", "-c", "python main.py"]

[userenv]

[userenv.shared]
BOT_TOKEN = "8266219983:AAH8fTUQb1X886hjHX9Xhshq-HI5Ettv9Fs"
API_ID = "27862243"
API_HASH = "ee9da220a7e483b12eec57466a63438f"
CHANNEL_ID = "-1002872277979"
